$black: #10161A;

$dark-gray-1: #182026;
$dark-gray-2: #202B33;
$dark-gray-3: #293742;
$dark-gray-4: #30404D;
$dark-gray-5: #394B59;

$gray-1: #5C7080;
$gray-2: #738694;
$gray-3: #8A9BA8;
$gray-4: #A7B6C2;
$gray-5: #BFCCD6;

$light-gray-1: #CED9E0;
$light-gray-2: #D8E1E8;
$light-gray-3: #E1E8ED;
$light-gray-4: #EBF1F5;
$light-gray-5: #F5F8FA;

$white: #FFFFFF;

$blue-1: #0E5A8A;
$blue-2: #106BA3;
$blue-3: #137CBD;
$blue-4: #2B95D6;
$blue-5: #48AFF0;

$green-1: #0A6640;
$green-2: #0D8050;
$green-3: #0F9960;
$green-4: #15B371;
$green-5: #3DCC91;

$orange-1: #A66321;
$orange-2: #BF7326;
$orange-3: #D9822B;
$orange-4: #F29D49;
$orange-5: #FFB366;

$red-1: #A82A2A;
$red-2: #C23030;
$red-3: #DB3737;
$red-4: #F55656;
$red-5: #FF7373;
