@import "colors";

:root {
  --color-black: #{$black};

  --color-dark-gray-1: #{$dark-gray-1};
  --color-dark-gray-2: #{$dark-gray-2};
  --color-dark-gray-3: #{$dark-gray-3};
  --color-dark-gray-4: #{$dark-gray-4};
  --color-dark-gray-5: #{$dark-gray-5};

  --color-gray-1: #{$gray-1};
  --color-gray-2: #{$gray-2};
  --color-gray-3: #{$gray-3};
  --color-gray-4: #{$gray-4};
  --color-gray-5: #{$gray-5};

  --color-light-gray-1: #{$light-gray-1};
  --color-light-gray-2: #{$light-gray-2};
  --color-light-gray-3: #{$light-gray-3};
  --color-light-gray-4: #{$light-gray-4};
  --color-light-gray-5: #{$light-gray-5};

  --color-white: #{$white};

  --color-blue-1: #{$blue-1};
  --color-blue-2: #{$blue-2};
  --color-blue-3: #{$blue-3};
  --color-blue-4: #{$blue-4};
  --color-blue-5: #{$blue-5};

  --color-green-1: #{$green-1};
  --color-green-2: #{$green-2};
  --color-green-3: #{$green-3};
  --color-green-4: #{$green-4};
  --color-green-5: #{$green-5};

  --color-orange-1: #{$orange-1};
  --color-orange-2: #{$orange-2};
  --color-orange-3: #{$orange-3};
  --color-orange-4: #{$orange-4};
  --color-orange-5: #{$orange-5};

  --color-red-1: #{$red-1};
  --color-red-2: #{$red-2};
  --color-red-3: #{$red-3};
  --color-red-4: #{$red-4};
  --color-red-5: #{$red-5};
}
