@import "colors";

$primary-1: $blue-1 !default;
$primary-2: $blue-2 !default;
$primary-3: $blue-3 !default;
$primary-4: $blue-4 !default;
$primary-5: $blue-5 !default;

$success-1: $green-1 !default;
$success-2: $green-2 !default;
$success-3: $green-3 !default;
$success-4: $green-4 !default;
$success-5: $green-5 !default;

$warning-1: $orange-1 !default;
$warning-2: $orange-2 !default;
$warning-3: $orange-3 !default;
$warning-4: $orange-4 !default;
$warning-5: $orange-5 !default;

$danger-1: $red-1 !default;
$danger-2: $red-2 !default;
$danger-3: $red-3 !default;
$danger-4: $red-4 !default;
$danger-5: $red-5 !default;

$hr-divider-black: rgba($black, 0.15) !default;
$hr-dark-divider-black: rgba($black, 0.4) !default;
$hr-dark-divider-white: rgba($white, 0.15) !default;
