// Gray scale

$black: #10161a !default;

$dark-gray-1: #182026 !default;
$dark-gray-2: #202b33 !default;
$dark-gray-3: #293742 !default;
$dark-gray-4: #30404d !default;
$dark-gray-5: #394b59 !default;

$gray-1: #5c7080 !default;
$gray-2: #738694 !default;
$gray-3: #8a9ba8 !default;
$gray-4: #a7b6c2 !default;
$gray-5: #bfccd6 !default;

$light-gray-1: #ced9e0 !default;
$light-gray-2: #d8e1e8 !default;
$light-gray-3: #e1e8ed !default;
$light-gray-4: #ebf1f5 !default;
$light-gray-5: #f5f8fa !default;

$white: #ffffff !default;

// Core colors

$blue-1: #0e5a8a !default;
$blue-2: #106ba3 !default;
$blue-3: #137cbd !default;
$blue-4: #2b95d6 !default;
$blue-5: #48aff0 !default;

$green-1: #0a6640 !default;
$green-2: #0d8050 !default;
$green-3: #0f9960 !default;
$green-4: #15b371 !default;
$green-5: #3dcc91 !default;

$orange-1: #a66321 !default;
$orange-2: #bf7326 !default;
$orange-3: #d9822b !default;
$orange-4: #f29d49 !default;
$orange-5: #ffb366 !default;

$red-1: #a82a2a !default;
$red-2: #c23030 !default;
$red-3: #db3737 !default;
$red-4: #f55656 !default;
$red-5: #ff7373 !default;

// Extended colors

$vermilion-1: #9e2b0e !default;
$vermilion-2: #b83211 !default;
$vermilion-3: #d13913 !default;
$vermilion-4: #eb532d !default;
$vermilion-5: #ff6e4a !default;

$rose-1: #a82255 !default;
$rose-2: #c22762 !default;
$rose-3: #db2c6f !default;
$rose-4: #f5498b !default;
$rose-5: #ff66a1 !default;

$violet-1: #5c255c !default;
$violet-2: #752f75 !default;
$violet-3: #8f398f !default;
$violet-4: #a854a8 !default;
$violet-5: #c274c2 !default;

$indigo-1: #5642a6 !default;
$indigo-2: #634dbf !default;
$indigo-3: #7157d9 !default;
$indigo-4: #9179f2 !default;
$indigo-5: #ad99ff !default;

$cobalt-1: #1f4b99 !default;
$cobalt-2: #2458b3 !default;
$cobalt-3: #2965cc !default;
$cobalt-4: #4580e6 !default;
$cobalt-5: #669eff !default;

$turquoise-1: #008075 !default;
$turquoise-2: #00998c !default;
$turquoise-3: #00b3a4 !default;
$turquoise-4: #14ccbd !default;
$turquoise-5: #2ee6d6 !default;

$forest-1: #1d7324 !default;
$forest-2: #238c2c !default;
$forest-3: #29a634 !default;
$forest-4: #43bf4d !default;
$forest-5: #62d96b !default;

$lime-1: #728c23 !default;
$lime-2: #87a629 !default;
$lime-3: #9bbf30 !default;
$lime-4: #b6d94c !default;
$lime-5: #d1f26d !default;

$gold-1: #a67908 !default;
$gold-2: #bf8c0a !default;
$gold-3: #d99e0b !default;
$gold-4: #f2b824 !default;
$gold-5: #ffc940 !default;

$sepia-1: #63411e !default;
$sepia-2: #7d5125 !default;
$sepia-3: #96622d !default;
$sepia-4: #b07b46 !default;
$sepia-5: #c99765 !default;
