.project-directory-hero {
  background-image: url("/project/directory/directory-hero.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
